@page "/Registro"



<div class="card">
    <div class="card-header text-center">
        <h2 class="text-primary">Registro de Ocupaciones</h2>
    </div>
    <div class="card-body">
        <div class="form-row align-items-center">
            <div class="col-auto">

                <label for="idOcupacion" class="text-primary">ID Ocupación:</label>
                <input type="text" class="form-control" id="idOcupacion" placeholder="Ingrese el ID de la Ocupación">

                <button name="btnBuscar" id="btnBuscar" class="btn btn-primary">
                    <span class="oi oi-magnifying-glass"></span> Buscar
                </button>
            </div>
            
        </div>
        <div class="form-group">
            <label for="txtDescripcion" class="text-primary">Descripción:</label>
            <textarea class="form-control" name="txtDescripcion" id="txtDescripcion" rows="6"></textarea>
        </div>
        <div class="form-group ">
            <label for="txtsalario" class="text-primary">Salario:</label>
            <input type="text" class="form-control" name="txtsalario" id="txtsalario" rows="6" placeholder="0"> 
        </div>
    </div>

    <div class=" card-footer text-center">
        <button name="btNuevo" id="btNuevo" class="btn btn-primary mr-2">
            <span class="oi oi-plus"></span> Nuevo
        </button>
        <button name="btnGuardar" id="btnGuardar" class="btn btn-success mr-2">
            <span class=" oi oi-cloud-download"></span> Guardar
        </button>
        <button name="btnEliminar" id="btnEliminar" class="btn btn-danger">
            <span class="oi oi-trash"></span> Eliminar
        </button>
    </div>
</div>
@code {

}
